<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .tmqwlimg{
        width: 250px;
        height: 280px;
      }
    </style>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=90b24e0900cb98209b67e397b9d8a8e6&libraries=services"
    ></script>
    <script>
      let container = document.getElementById("map");
      let options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 5,
      };

      // 지도 생성
      let map = new kakao.maps.Map(container, options);

      let placeSearch = new kakao.maps.services.Places();
      let marker = null;

      placeSearch.keywordSearch("<%= location %>", placeSearchCB);

      function placeSearchCB(data, status, pagination) {
        // console.log(status);
        // console.log(kakao.maps.services.Status.OK);

        if (status != kakao.maps.services.Status.OK) return;

        map.setCenter(new kakao.maps.LatLng(data[0].y, data[0].x));

        marker = new kakao.maps.Marker({
          position: new kakao.maps.LatLng(data[0].y, data[0].x),
        });
        
        markerInfo = new kakao.maps.InfoWindow({
          position: new kakao.maps.LatLng(data[0].y, data[0].x),
          content: '<div style="padding:5px;">마커를 클릭해주세요</div>',
        });
        var iwContent;
        console.log(data[0]["place_name"]);
        switch (data[0]["place_name"]) {
          case "운곡람사르습지 생태공원":
            iwContent = '<img class="tmqwlimg" src="/img/운곡습지.png"></img>'
            break;
          case "경포호":
            iwContent = '<img class="tmqwlimg" src="/img/경포호.png"></img>'
            break;
          case "한반도습지":
            iwContent = '<img class="tmqwlimg" src="/img/영월습지.png"></img>'
            break;
          case "장도습지":
            iwContent = '<img class="tmqwlimg" src="/img/장도습지.png"></img>'
            break;
          case "물장오리(물장올)":
            iwContent = '<img class="tmqwlimg" src="/img/물장오리.png"></img>'
            break;
        }
        // iwContent = '<img src="/img/경포호.png"></img>'
        console.log(iwContent);
        var iwRemoveable = true;
        map.setMapTypeId(kakao.maps.MapTypeId.HYBRID);
        var infowindow = new kakao.maps.InfoWindow({
          content: iwContent,
          removable: iwRemoveable,
        });

        kakao.maps.event.addListener(marker, "click", function () {
          infowindow.open(map, marker);
        });

        marker.setMap(map);

        markerInfo.open(map, marker);
      }
    </script>
  </body>
</html>
